extends main-layout

block active
  - var current = 'account'

block main-content
  form(action="/account" method="POST")
    fieldset
      legend Change Account Info (#{user.email})
      div
        label(for="firstName") First name
        input(type="text" name="firstName" placeholder="First Name" value=user.firstName)
      div
        label(for="lastName") Last Name
        input(type="text" name="lastName" placeholder="Last Name" value=user.lastName)
      div
        - var value = user.phone.phone && user.phone.country ? phoneNumber.format(user.phone, 'National') : user.phone.phone
        label(for="phone") Phone Number
        input(type="tel" name="phone" placeholder="Phone Number" value=value)
      div
        label(for="organization") Organization
        input(type="text" name="organization" placeholder="Organization" value=user.organization)
      button(type="submit") Change Info
  form(action="/account/password" method="POST")  
    fieldset
      legend Change Password

      p You will be logged out and prompted to sign back in with your new password.

      div
        label(for="currentPassword") Current Password
        input(type="password" name="currentPassword" placeholder="Your current password")

      div
        label(for="newPassword") New Password
        input(type="password" name="newPassword" placeholder="Your new password")

      button(type="submit") Change Password
