extends main-layout

block active
  - var current = 'admin'

block main-content
  h3 Active Users
  ul
    each user in users
      li
        a(href="/admin/user/" + user.id) #{user.email}
        if user.firstName || user.lastName
          span  - #{user.firstName} #{user.lastName}
  h3 Servers
  ul
    each server in servers
      li
        a(href="/admin/server/" + server.id) #{server.LABEL}
        span  - #{server.assignedTo.email}
  h3 Open Tickets
  ul
    each ticket in tickets
      li #{moment(ticket.createdAt).format('M/d/YY')} - #{ticket.createdBy.email}
      li
        ul
          li Subject: #{ticket.subject}
          li
            ul
              each comment in ticket.comments
                li #{moment(comment.createdAt).format('M/d/YY')} - #{comment.commenter.email} - #{comment.message}
      form(action="/admin/comment/" + ticket.id method="POST")
        fieldset
          div
            label(for="message") Comment
            input(type="text" name="message")
          div
            button Send
