- const status = ['Being Created', 'Brand New', 'Running', 'Powered Off'];

if servers
  ul
    each server in servers
      li
        div.flex-table.flex-table--3cols
          a(href="/server/" + server.LINODEID).bold.flex-table-cell.flex-table-cell--black.flex-table-cell--double #{server.domains[0].name.toUpperCase()}
          if status[server.STATUS + 1] == 'Running'
            p.flex-table-cell.flex-table-cell--green Online
          else
            p.flex-table-cell.flex-table-cell--blue Offline
          if current === 'admin' && server.assignedTo
            p.flex-table-cell.flex-table-cell--blue.flex-table-cell--full Owner: #{server.assignedTo}
          p.flex-table-cell.flex-table-cell--blue CPU: #{numeral(server.load).format('0%')}
          p.flex-table-cell.flex-table-cell--blue Storage: #{numeral(server.usedDisk).format('0.0b')} / #{numeral(server.totalDisk).format('0.0b')}
          p.flex-table-cell.flex-table-cell--blue RAM: #{numeral(server.usedMem).format('0.0b')} / #{numeral(server.totalMem).format('0.0b')}
          p.flex-table-cell.flex-table-cell--red Expires #{moment(server.expires).fromNow()}
          if current === 'dashboard'
            a(href="/renewal/" + server.LINODEID).flex-table-cell.flex-table-cell--gold.flex-table-cell--double  Renew Now
          if current === 'admin'
            p.flex-table-cell.flex-table-cell--blue Age: #{moment(server.CREATE_DT).fromNow(true)} old
            p.flex-table-cell.flex-table-cell--blue Server ID:  #{server.LINODEID}
            p.flex-table-cell.flex-table-cell--blue Load: #{numeral(server.load).format('0.0')}
            p.flex-table-cell.flex-table-cell--blue Uptime: #{moment(server.createdAt).subtract(server.uptime, 'seconds').fromNow(true)}
            form(action="/admin/server/" + server.LINODEID method="POST").flex-table-cell.flex-table-cell--red.flex-table-cell--full
              fieldset
                div
                  label(for="expires") Change Expiration Date
                  input(type="date" name="expires" value=moment(server.expires).format('YYYY-MM-DD'))
                button Change
            form(action="/admin/server/" + server.LINODEID method="POST").flex-table-cell.flex-table-cell--red.flex-table-cell--full
              fieldset
                div
                  label(for="assignedTo") Change Owner
                  select(name="assignedTo")
                    each user in users
                      - var email = user.email
                      - var selected = server.assignedTo == user.email
                      option(value=email, selected=selected) #{user.firstName} #{user.lastName} - #{user.email}
                button(type="submit") Change
