extends main-layout

block active
  - var current = 'admin'

block main-content
  if users
    h3 Users
    ul.admin-list
      each user in users
        li.userItem(class={verified: user.verified, admin: user.isAdmin})
          div
            p #{user.firstName} #{user.lastName} #{!user.isAdmin ? '' : '(ADMIN)'}
            p.bold #{user.email} #{user.verified ? '' : '(NOT VERIFIED)'}
            p.small= user.organization
            if user.phone
              p.small Ph: #{phoneNumber.format(phoneNumber.parse(user.phone, 'US'), 'National')}
            p.small Member since #{moment(user.createdOn).fromNow()} (#{moment(user.createdOn).format('l')})
            p.small Servers #{user.servers}
            form(action="/admin/link-server" method="POST")
              input(type="hidden" name="selectedUser" value=user._id) 
              select.form-fields(name="selectedServer")
                each server in servers
                  if server.assigned === false
                    option(value=server.LINODEID) #{server.LABEL}
              button(type="submit") Link!
  if servers
    h3 Servers
    ul.admin-list
      each server in servers
        li.userItem
          div
            p.bold #{server.LABEL} (#{server.LINODEID})
            p Total Storage: #{numeral(server.TOTALHD).multiply(1000000).format('0.00b')}
            p Total RAM: #{numeral(server.TOTALRAM).multiply(1000000).format('0.00b')}
            p Total Bandwidth: #{numeral(server.TOTALXFER).multiply(1000000).format('0.00b')}
            p Distro: #{server.DISTRIBUTIONVENDOR}
            p Created #{moment(server.CREATE_DT).fromNow()} (#{moment(server.CREATE_DT).format('l')})
            p Plan: #{server.PLANID}
            p Status: #{server.STATUS}