- const hosting = ['Starter', 'Business', 'Developer'];
- const support = ['Hands-Off', 'Maintain', 'Hands-On'];
- const status = ['Being Created', 'Brand New', 'Running', 'Powered Off'];

if servers
  h3 Servers
  ul
    each server in servers
      li
        div.flex-table.flex-table--2cols
          p.bold.flex-table-cell.flex-table-cell--full.flex-table-cell--black #{server.LABEL}
          p.flex-table-cell.flex-table-cell--blue Storage: #{numeral(server.usedDisk).format('0b')} / #{numeral(server.totalDisk).format('0b')}
          p.flex-table-cell.flex-table-cell--blue RAM: #{numeral(server.usedMem).format('0b')} / #{numeral(server.totalMem).format('0b')}
          p.flex-table-cell.flex-table-cell--blue Hosting Plan: #{hosting[server.PLANID - 1]}
          p.flex-table-cell.flex-table-cell--blue Support Plan: #{support[server.PLANID - 1]} 
          //- Need to make function ^^
          p.flex-table-cell.flex-table-cell--blue Status: #{status[server.STATUS + 1]}
          p.flex-table-cell.flex-table-cell--blue Last Updated: #{moment(server.createdAt).fromNow()}
          p.flex-table-cell.flex-table-cell--blue Expires: #{moment(server.expires).fromNow()}
          if current === 'dashboard'
            a(href="/renewal/" + server.LINODEID).flex-table-cell.flex-table-cell--gold.flex-table-cell--full  Renew Now
          if current === 'admin'
            p.flex-table-cell.flex-table-cell--red Age: #{moment(server.createdOn).fromNow(true)} old
            p.flex-table-cell.flex-table-cell--red Server ID:  #{server.LINODEID}
            p.flex-table-cell.flex-table-cell--red Load: #{numeral(server.load).format('0.0')}
            p.flex-table-cell.flex-table-cell--red Uptime: #{moment(server.createdAt).subtract(server.uptime, 'seconds').fromNow(true)}
            form(action="/admin/server/" + server.LINODEID  method="POST").flex-table-cell.flex-table-cell--red.flex-table-cell--full
              fieldset
                span Change Expiration
                div
                  label(for="expirationDate")
                  input(type="date" name="expirationDate" value=moment(server.expires).format('YYYY-MM-DD'))
                button Change
            if server.assignedTo && users
              p.flex-table-cell.flex-table-cell--red Owner:&nbsp;
                each user in users
                  if user._id == server.assignedTo
                    span
                      | #{user.email}
            else if users
              form.flex-table-cell.flex-table-cell--red.flex-table-cell--full(action="/admin/link-server" method="POST")
                fieldset
                  input(type="hidden" name="selectedServer" value=server.LINODEID) 
                  div
                    label(for="selectedUser") Link to User:
                    select(name="selectedUser")
                      each user in users
                        option(value=user._id) #{user.firstName} #{user.lastName} - #{user.email}
                  button(type="submit") Link!
