if servers
  h3 Servers
  ul.admin-list
    each server in servers
      li.userItem
        div
          p.bold #{server.LABEL} (#{server.LINODEID})
          p Total Storage: #{numeral(server.TOTALHD).multiply(1000000).format('0.00b')}
          p Total RAM: #{numeral(server.TOTALRAM).multiply(1000000).format('0.00b')}
          p Total Bandwidth: #{numeral(server.TOTALXFER).multiply(1000000).format('0.00b')}
          p Distro: #{server.DISTRIBUTIONVENDOR}
          p Created #{moment(server.CREATE_DT).fromNow()} (#{moment(server.CREATE_DT).format('l')})
          p Plan: #{server.PLANID}
          p Status: #{server.STATUS}
          if current = 'admin'
            if server.assignedTo && users
              p Owner:&nbsp;
                each user in users
                  if user._id == server.assignedTo
                    span.bold
                      | #{user.email}
            else if users
              form(action="/admin/link-server" method="POST")
                fieldset
                  input(type="hidden" name="selectedServer" value=server.LINODEID) 
                  div
                    label(for="selectedUser") Unlinked Servers
                    select(name="selectedUser")
                      each user in users
                        option(value=user._id) #{user.firstName} #{user.lastName} - #{user.email}
                  button(type="submit") Link!
