if users
  h3 Users (#{users.length})
  .flex-table.flex-table--2cols
    each user in users
      .flex-table-cell.flex-table-cell--black.flex-table-cell--full #{user.email} #{user.isVerified ? '' : '(Unverified)'}
      if user.firstName || user.lastName
        .flex-table-cell.flex-table-cell--gold #{user.firstName} #{user.lastName} #{!user.isAdmin ? '' : '(Admin)'}
      if user.stripeID
        .flex-table-cell.flex-table-cell--gold Stripe ID: #{user.stripeID}
      if user.organization
        .flex-table-cell.flex-table-cell--gold #{user.organization}
      if user.phone
        .flex-table-cell.flex-table-cell--gold Phone: #{phoneNumber.format(phoneNumber.parse(user.phone, 'US'), 'National')}
      if user.createdOn
        .flex-table-cell.flex-table-cell--gold Member since #{moment(user.createdOn).fromNow()} (#{moment(user.createdOn).format('l')})